@import "_mixin";
@import "_vars";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/_normalize";
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');



body {
	font-family: 'museo-sans', 'Nunito', Helvetica, Arial, sans-serif;
	background-color: #fff;
	color: $fontColor;
	font-size: 16px;
}

ul {
	padding-left: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: $fontColor;
}

h1, h2, h3, h4, a, p, div, i {
	font-weight: 300;
}

p {
	color: $paraColor;
}
