@import "_mixin";
@import "_vars";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/_normalize";

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: $primary;
	color: $fontColor;
	font-size: 16px;
}

ul {
	padding-left: 0;
	list-style: none;
}

h1, h2, h3, h4, p, div, i {
	// Set font-weight
}
