$primary: rgb(240, 240, 240);
$adidas-primary: rgb(177, 183, 186);
$sunday-primary: rgb(162, 168, 170);
$rvd-primary: rgb(171, 169, 162);
$dolly-primary: rgb(169, 171, 167);
$mits-primary: rgb(188, 188, 188);
$kamp-primary: rgb(128, 128, 128);