extends layout

block content
	nav
		.contact Contact
	.cont
		header
			.logo
				img(src='', alt='')
			h1 Creative Technologist
			p ut interdum sit amet eros ut vehicula. lorem ipsum dolor sit amet, consectetur adipiscing elit.
	.body-cont
		a
			img.feature-img(src='', alt='')
		a
			img.feature-img(src='', alt='')
		a
			img.feature-img(src='', alt='')
		a
			img.feature-img(src='', alt='')
		a
			img.feature-img(src='', alt='')
		a
			img.feature-img(src='', alt='')
