doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/styles/style.css')
	body
		block content
  head
    title= title
    link(href="styles/app.css" rel="stylesheet")
  body
    block content
